.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 34px 0;

    & .sitenav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        height: 96px;
        width: 830px;

        & li a {
            word-spacing: 10px;
            letter-spacing: 3px;
        }

        & li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        & li.active::after {
            position: absolute;
            width: 100px;
            height: 1px;
            bottom: 0;
            background-color: $text-color;
            animation-name: active-nav;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;
            animation-iteration-count: 1;
        }
        @keyframes active-nav {
            0% {
                width: 100px;
                height: 1px;
                bottom: 0;
            }
            100% {
                width: 200px;
                height: 1px;
                bottom: 0;
            }
        }

    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 0 40px;

        & span {
            width: 473px;
            height: 1px;
            background-color: $text-color-secont;
        }
    
        & a{
            position: relative;
            left: -27px;
        }   
    }
}

