.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/Bitmap\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    & div:nth-child(1) {
        position: relative;
        left: 27px;
    }
}